{% extends 'admin/new_base.html' %}

{% block content %}
{{ super() }}

<link rel="stylesheet" href="{{ url_for('.static', filename='css/sign-in.css') }}"/>

<div class="container-sm position-static">
  <main class="form-signin w-100 m-auto shadow">
    <h5 class="mb-3 fw-normal text-center">Добавление нового сертификата калибровки</h5>
    {% for cat, msg in get_flashed_messages(True) %}
        <div class="container">
          <div class="badge text-bg-{{cat}}">{{msg}}</div>
        </div>
    {% endfor %}
    <form method="post" class="form-contact" enctype="multipart/form-data">
         <div class="form-floating p-2">
              <select class="form-select " name="name">
                  <option value="">Выберите отдел</option>
                  {% for ot in otdel_set%}
                  <option value="{{ ot.id }}">{{ ot.work }}</option>
                  {% endfor %}
              </select>
             <label class="form-label">Название отдела:</label>
         </div>
        <div class="form-floating p-2">
              <select class="form-select " name="pribor_type">
                  <option value="">Выберите тип прибора</option>
                  {% for pr in pribor_set%}
                  <option value="{{ pr.id }}">{{ pr.type }}</option>
                  {% endfor %}
              </select>
             <label class="form-label">Тип прибора:</label>
         </div>
        <div class="form-floating p-2">
          <input type="text" class="form-control" name="number" required />
          <label >Номер прибора:</label>
        </div>
        <div class="form-floating p-2">
          <input type="text" class="form-control" name="date" required />
          <label >Дата калибровки:</label>
        </div>
        <div class="form-floating p-2">
          <input type="text" class="form-control" name="next_date" required />
          <label >Дата следующей калибровки:</label>
        </div>
        <div class="mb-3">
            <input class="form-control" type="file" name="file">
        </div>
        <button class="btn btn-outline-primary w-100 py-2" type="submit">Добавить</button>
    </form>
  </main>
</div>

{% endblock %}