{% extends 'admin/new_base.html' %}

{% block content %}
{{ super() }}
<h2>Типы приборов</h2>
<a href="./pribor_add" > Добавить прибор</a></p>

<div class="container text-center">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">Тип прибора</th>
        <th colspan="2">Инструменты</th>
      </tr>
    </thead>
    <tbody>
      {% for name in names %}
      <tr>
        <td>{{name.id}}</td>
        <td>{{name.type}}</td>
        <td><a href="./pribor/{{name.id}}/del" > Удалить</a></td>
        <td><a href="./pribor/{{name.id}}/update" > Изменить</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}