{% extends 'admin/new_base.html' %}

{% block content %}
{{ super() }}

<link rel="stylesheet" href="{{ url_for('.static', filename='css/sign-in.css') }}"/>

<div class="container-sm position-static">
  <main class="form-signin w-100 m-auto shadow">
    <h5 class="mb-3 fw-normal text-center">Добавление данных о промере</h5>
    {% for cat, msg in get_flashed_messages(True) %}
        <div class="container">
          <div class="badge text-bg-{{cat}}">{{msg}}</div>
        </div>
    {% endfor %}
    <form method="post" class="form-contact">
         <div class="form-floating p-2">
              <select class="form-select " name="name">
                  <option value="">Выберите отдел</option>
                  {% for ot in otdel_set%}
                  <option value="{{ ot.id }}">{{ ot.work }}</option>
                  {% endfor %}
              </select>
             <label class="form-label">Выберите отдел</label>
         </div>
        <div class="form-floating p-2">
          <input type="text" class="form-control" name="lenght" required />
          <label >Длинна кабеля на барабане:</label>
        </div>
        <div class="form-floating p-2">
          <input type="text" class="form-control" name="prom" required />
          <label >Длинна промеренного кабеля:</label>
        </div>
        <div class="form-floating p-2">
          <input type="text" class="form-control" name="date" required />
          <label >Дата промера:</label>
        </div>
        <p></p>
        <button class="btn btn-outline-primary w-100 py-2" type="submit">Добавить</button>
    </form>
  </main>
</div>
{% endblock %}