{% extends 'admin/new_base.html' %}

{% block content %}
{{ super() }}
<div class="container text-center">
  <h2 class="text-danger">ВНИМАНИЕ!!! <br> На данной странице лучше ничего не менять!!!</h2>
  <hr class="my-4">
      <h4>Профили пользователей</h4>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">Имя</th>
            <th scope="col">Фамилия</th>
            <th scope="col">user_id</th>
            <th scope="col">otdel_id</th>
            <th scope="col">Инструменты</th>
          </tr>
        </thead>
        <tbody>
          {% for user in users %}
          <tr>
            <th scope="row">{{user.id}}</th>
            <td>{{user.name}}</td>
            <td>{{user.surname}}</td>
            <td>{{user.user_id}}</td>
            <td>{{user.otdel_id}}</td>
            <td><a href="./users_profile/{{user.id}}/del" > Удалить профиль</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
</div>
{% endblock %}